<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="mailpoint"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Mail Point</title>
</head>
<body>
<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important;
    width: 540px; height: 600px; border-top: 4px solid #6B9080; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">

    <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
        <span style="font-size: 15px; margin: 0 0 10px 3px;">똑똑(KnowcK KnowcK)</span><br />
        <span style="color: #6B9080;">메일인증</span> 안내입니다.
    </h1>

    <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
        안녕하세요.<br />
        똑똑(KnowcK KnowcK)에 가입해 주셔서 진심으로 감사드립니다.<br />
    <a style="color: #FFF; text-decoration: none; text-align: center;">

        <p style="display: inline-block; width: 210px; height: 45px; margin: 30px 5px 40px; background: #6B9080;
        line-height: 45px; vertical-align: middle; font-size: 16px; text-align:
        center; font-weight: 700;" th:text="${code}">code</p></a><br />

        위의 인증코드를 입력하여 회원가입을 완료해 주세요.<br />
        감사합니다.
    </p>

    <div style="border-top: 1px solid #DDD; padding: 5px;">
        <p style="font-size: 13px; line-height: 21px; color: #555;">
            만약 인증코드가 정상적으로 확인되지 않는다면, 아래 링크를 복사하여 접속해 주세요.<br />
            {$auth_url}
        </p>
    </div>
</div>

</body>
</html>